@{
    ViewData["Title"] = "Thank You";
}

<h1>Thank You!</h1>
<p>Your form has been successfully submitted. Have a nice day!</p>
<a href="@Url.Action("Index", "Patients")" class="btn btn-primary">Go to Patient Index</a>
